* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #131313
}
body   {
    background-color: #131313;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
    margin: 0;
}

.nav {
    background-color: #f1dbbd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;
    margin: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav a {
    text-decoration: none;
    color: #000
}

.nav a:hover {
    color: #26252d;
    text-decoration: none
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.main {
    text-align: left;
    font-weight: bold;
    list-style-type: none;
    font-size: large;
}

.info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.info li {
    display: flex;
    text-decoration: none;
    text-align: right;
    letter-spacing: 1px;
    margin: 10px;
}

.hello {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 20vw;
    text-decoration: none;
    background: url('https://media1.tenor.com/m/Jojpr9QgMLoAAAAC/maxwell-maxwell-spin.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    color: #6d6d6d;
}


.picture img {
    float: right;
}

.name {
    text-align: center;
    filter: blur(1px);
}
.name h1 {
    font-size: 100px;
}

.name h3 {
    font-size: 40px
}

.about-me {
    text-align: justify;
    margin: 20vw 30px;
    font-size: 40px;
}

.pisanina-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.pisanina-1 p {
    float: right;
}

.pisanina-1 img {
    float: left;
    margin-left: 20px;
    border-radius: 20px;
}

.pisanina-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pisanina-2 p {
    float: left;
}

.pisanina-2 img {
    float: right;
    margin-right: 20px;
    border-radius: 20px;
}

.more-about-me {
    text-align: center;
}
.more-about-me a {
    color: #020081;
    text-decoration: none;
}

.more-about-me a:hover {
    color: #0400ff;
}

.projects {
    margin: 0 10vw;
    color:#000;
    justify-content:space-around;
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.projects h4 {
    font-weight: bold;
    font-size: 30px;
}

.projects p {
    font-size: 18px;
    font-weight: normal;
}

.projects a {
    color: #020081;
    text-decoration: none;
}

.projects a:hover {
    color: #0400ff;
}

.tg_bot {
    background-color: #f1dbbd;
    border-radius: 20px;
    max-width: 30vw;
    text-align: center;
}

.casino_ds {
    background-color: #f1dbbd;
    border-radius: 20px;
    max-width: 30vw;
    text-align: center;
}

.contact {
    display: flex;
    margin: 10vw;
    justify-content:space-around;
    text-align: center;
    font-weight: bold;
}

.contact a {
    color:#fff;
    text-decoration: none;
}

.contact a:hover {
    color:#9c9797
}

.tg {
    background-color: #27a7e7;
    padding: 10px 10px;
    border-radius: 50px;
}

.vk {
    background-color: #0077FF;
    padding: 10px 10px;
    border-radius: 50px;
}

.discord {
    background-color: #7289DA;
    padding: 10px 10px;
    border-radius: 50px;
}

.github {
    background-color: #000000;
    padding: 10px 10px;
    border-radius: 50px;
}

.nickname {
    background-color: #7d9305;
    padding: 10px 10px;
    border-radius: 50px;
}

footer {
    background-color: #000;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

#footer{
    color: #ccc;
    text-align: justify
}

#end {
    text-align: center;
    font-weight: bold;
    color: #fff
}

footer a {
    color:#000;
    text-decoration: none;
    text-align: end;
}

footer a:hover {
    color: #ccc;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .info {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f1dbbd;
        border-radius: 0 0 20px 20px;
        position: absolute;
        top: 100%; /* Положение относительно навбара */
        left: 0;
        z-index: 999
    }

    .info.active {
        display: flex;
    }

    .info li {
        margin: 10px 0;
    }

    .main {
        flex-grow: 1;
    }

    .name h1 {
        font-size: 50px;
    }

    .name h3 {
        font-size: 25px;
    }

    .hello {
        flex-direction: column;
    }

    .about-me {
        font-size: 20px;
        margin: 10px;
    }

    .pisanina-1,
    .pisanina-2 {
        flex-direction: column;
        text-align: center;
    }

    .pisanina-1 p,
    .pisanina-2 p {
        float: none;
    }

    .pisanina-1 img,
    .pisanina-2 img {
        display: none;
    }

    .projects {
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        margin: 10px;
    }

    .projects h4 {
        font-size: 25px;
    }
    .projects p {
        font-size: 15px;
    }

    .tg_bot,
    .casino_ds {
        max-width: 90%;
        margin: 10px 0;
    }

    .contact {
        flex-direction: column;
        margin: 5vw;
    }

    .contact div {
        margin: 10px 0;
    }

    footer {
        flex-direction: row;
    }

}