.hello {
    position: relative;
    background: #f1dbbd;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: end;
}

.hello canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hello .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: transparent;
    pointer-events: none;
}

.hello p {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    font-family: 'Dela Gothic One';
    font-size: 4em;
    color: #232323;
    text-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 5px;
}

.navig {
    margin: 40px 20px;
    }

.chips {
    flex-direction: row;
}

.chip {
    background-color: #f1dbbd;
    color: #000;
}

.chip a {
    background-color: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .hello p {
        font-size: 3rem;
    }

    .navig h1 {
        font-size: 2.5rem;
    }

    .chips {
        flex-direction: column;
    }

    .chip a {
        font-size: 1.5rem;
    }
}

@media (hover:hover) {

    .chip a:hover {
        box-shadow: 0 0 0 10px #fff;
    }
    
}

@media (hover:none) {

    .chip a:active {
        box-shadow: 0 0 0 10px #fff;
    }

}
