.hello {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: end;
}

.hello p {
    font-family: 'Dela Gothic One';
    color: #232323;
    font-size: 7rem;
    margin: 20px;
}

.hello::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/tecxz5/tecxz5/refs/heads/main/t5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.navig {
    margin: 40px 20px;
    }

.chips {
    flex-direction: row;
}

.chip {
    background-color: #f1dbbd;
    color: #000;
}

.chip a {
    background-color: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .hello p {
        font-size: 4rem;
    }

    .navig h1 {
        font-size: 2.5rem;
    }

    .chips {
        flex-direction: column;
    }

    .chip a {
        font-size: 1.5rem;
    }
}

@media (hover:hover) {

    .chip a:hover {
        box-shadow: 0 0 0 10px #fff;
    }
    
}

@media (hover:none) {

    .chip a:active {
        box-shadow: 0 0 0 10px #fff;
    }

}