.hello {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: end;
}

.hello p {
    font-family: 'Dela Gothic One';
    color: #232323;
    font-size: 8rem;
    margin: 20px;
}


.hello::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/tecxz5/tecxz5/refs/heads/main/t5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}