@font-face {
    font-family: Base;
    src: url(../fonts/arfolix/ST-Nizhegorodsky.ttf);
}

@font-face {
    font-family: Head;
    src: url(../fonts/arfolix/signategrotesk-black.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e1ea8f #000000;
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

body {
    background: linear-gradient(180deg, #000000 0%, #1c144a 100%);
    background-attachment:scroll;
    font-family: Base;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

body a {
    text-decoration: none;
    color: #fff;
}

body a:hover {
    text-decoration: none;
    color: #e1ea8f;
}

header {
    position: fixed; /* Закрепляет хедер */
    top: 0; /* Располагает хедер вверху экрана */
    width: 100%; /* Задает ширину хедера */
    z-index: 1000;
}

.header {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    clip-path: polygon(0 0, 100% 0, 100% 42%, 0% 100%);
}

.header p {
    font-family: Head;
    color: #ffffff;
}

.home a {
    font-size: 128px;
}

.home p {
    font-size: 32px;
    margin-top: -25px;
}

.line-container-1 {
    position: relative;
    height: 10px;
}

.line-1 {
    position: absolute;
    width: 100.2%;
    height: 0;
    border-top: 3px solid #e1ea8f;
    transform: rotate(-4deg);
    transform-origin: left;
    z-index: 10;
    overflow: hidden;
}

.info {
    margin: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-string {
    margin: 20px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

#info1 {
    margin-right: 7%;
}

#info2 {
    margin-right: 4%;
}

#info3 {
    margin-right: 40%;
    display: flex;
    flex-direction: column;
    transform: rotate(4deg);
}

#info3 p {
    margin-bottom: 0;
}

#info3 img {
    width: 110%;
    margin-left: 60%;
}

.embed {
    min-width: 40%;
    max-width: 60%;
}

.line-container-2 {
    position: relative;
    margin-top: 120px;
}
.line-2 {
    position: absolute;
    width: 100.2%;
    height: 0;
    border-top: 3px solid #e1ea8f;
    transform: rotate(-4deg);
    transform-origin: left;
    z-index: 10;
    overflow: hidden;
}

.footer {
    background-color: #000;
    clip-path: polygon(0 -100%, 100% 0, 100% 100%, 0% 100%);
    padding: 20px;
    text-align: center;
}

.сopyrights {
    font-size: 20px;
}


