@font-face {
    font-family: Base;
    src: url(../fonts/arfolix/ST-Nizhegorodsky.ttf);
}

@font-face {
    font-family: Head;
    src: url(../fonts/arfolix/signategrotesk-black.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e1ea8f #000000;
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

body {
    background: linear-gradient(180deg, #000000 0%, #1c144a 100%);
    background-attachment:scroll;
    font-family: Base;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

body a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}

body a:hover {
    text-decoration: none;
    color: #e1ea8f;
}

header {
    position: fixed; /* Закрепляет хедер */
    top: 0; /* Располагает хедер вверху экрана */
    width: 100%; /* Задает ширину хедера */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transform: translateZ(0);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    transform: rotate(-4deg);
    transform-origin: bottom center;
    margin-top: -50px;
    z-index: -1;
    border-bottom: #e1ea8f 3px solid;
}

header p {
    font-family: Head;
    color: #ffffff;
}

.home a {
    font-size: 128px;
}

.home p {
    font-size: 32px;
    margin-top: -25px;
}

.menu {
    margin-left: 20px;
    margin-right: 40px;
}

.info {
    margin: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-string {
    margin: 20px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

#info1 {
    margin-right: 20px;
}

#info2 {
    margin-right: 30px;
}

#info3 {
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    transform: rotate(4deg);
    justify-content: left;
}

#info3 p {
    margin-bottom: 0;
    margin-right: 150px;
}

#info3 img {
    width: 300px;
    margin-left: 300px;
}

.embed {
    width: 60%;
}

.line-container-2 {
    position: relative;
    margin-top: 120px;
}
.line-2 {
    position: absolute;
    width: 100.2%;
    height: 0;
    border-top: 3px solid #e1ea8f;
    transform: rotate(-4deg);
    transform-origin: left;
    z-index: 10;
    overflow: hidden;
}

footer {
    padding: 20px;
    text-align: center;
}

footer::before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    transform: rotate(-4deg);
    transform-origin: bottom center;
    margin-top: -50px;
    z-index: -1;
    border-top: #e1ea8f 3px solid;
}

.сopyrights {
    font-size: 20px;
}