@font-face {
    font-family: Dela;
    src: url(fonts/DelaGothicOne-Regular.ttf);
   }

@font-face {
    font-family: Thunder;
    src: url(fonts/Thunder-ExtraBoldLC.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #131313
}
body   {
    background-color: #232323;
    font-family: Dela;
    color: #fff;
    margin: 0;
}

header {
    background-color: #f1dbbd;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #000;
    margin: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

.main {
    font-family: Thunder;
    font-size: 50px;
    margin: 10px;
    text-align: left;
}

header a {
    color:#000;
    text-decoration: none;
}

header a:hover {
    color: #26252d;
    text-decoration: none
}

.menu {
    display: flex;
    text-align: right;
    font-size: 20px;
}

.menu li {
    list-style-type: none;
    display: flex;
    margin: -10px 40px;
    text-decoration: none
}

.about-me {
    margin-top: 100px;
}

.string1 {
    display: flex;
    align-items: center;
    margin: auto 20px;
}

#h6 {
    font-size: 100px;
    margin: 80px;
    margin-left: 40px;
}

#h6 a {
    text-decoration: none;
    color:#fff
}

.string1 p {
    font-size: 20px;
    vertical-align: middle;
}

.string1 img {
    border-radius: 15px;
    margin-right: 30px;
}