@font-face {
    font-family: Dela;
    src: url(fonts/DelaGothicOne-Regular.ttf);
   }

@font-face {
    font-family: Thunder;
    src: url(fonts/Thunder-ExtraBoldLC.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #232323
}
body   {
    background-color: #232323;
    font-family: Dela;
    color: #fff;
    margin: 0;
}

header {
    background-color: #f1dbbd;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #000;
    margin: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: border-radius 0.3s;
}

.main {
    font-family: Thunder;
    font-size: 50px;
    margin: 10px;
    text-align: left;
}

header a {
    color:#000;
    text-decoration: none;
}

header a:hover {
    color: #26252d;
    text-decoration: none
}

.menu {
    display: flex;
    text-align: right;
    font-size: 20px;
}

.menu li {
    list-style-type: none;
    display: flex;
    margin: -10px 40px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s;
}

contact-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 40px;
    transition: transform 0.3s ease;
    z-index: 10;
}

.toggle-button.cross {
    transform: rotate(45deg);
}

.contact-links {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 40px;
    margin-left: 100px;
}

.contact-links.open {
    opacity: 1;
    transform: scale(1);
}

.contact-link {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.git {
    background-color: #000;
}

.vk {
    background-color: #0077FF;
}

.tg {
    background-color: #27a7e7;
}

.ds {
    background-color: #5662f6;
}

.about-me {
    margin-top: 100px;
}

#wiggle1 {
    margin-left: 40px;
    margin-top: 20px;
}

#wiggle1-mobile {
    display: none;
}

.string1 {
    display: flex;
    margin: auto 20px;
}


.text1 {
    display: flex;
    align-items: center;
}

#h6 {
    font-size: 100px;
    margin: 80px;
    margin-left: 40px;
}

#h6 a {
    text-decoration: none;
    color:#fff
}

.string1 p {
    font-size: 25px;
}

.string1 img {
    border-radius: 15px;
    margin: 0 30px;
}

.string2 {
    display: flex;
    font-size: 25px;
    margin: 0 40px;
}

.string2 img {
    margin: 0px 30px 0px 60px;
}

#wiggle2-mobile {
    display: none;
}

.string3 {
    display: flex;
    margin-top: 20px;
}

#wiggle3 {
    margin: 0 40px;
    max-width: 100%;
    height: auto;
}


.string3 p {
    font-size: 25px;
}

.string3 img {
    margin: 0 40px;
    border-radius: 15px;
}

.projects {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.projects a {
    color: #fff;
    text-decoration: none;
    background-color: #232323;
    margin-top:5px;
    border-radius: 50px;
    padding: 5px;
}

.projects a:hover {
    color: #0400ff;
}

.clickable {
    cursor: pointer;
}

.projects h6 {
    font-size: 25px;
}

#h1 {
    font-size: 70px;
}

.toggle-element {
    margin: 20px;
    background-color: #f1dbbd;
    color: #000;
    width: 400px;
    height: 350px;
    padding: 15px;
    border-radius: 15px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0);
    display: none;
}

.toggle-element.show {
    opacity: 1;
    transform: scale(1);
    display: block; /* Show the element when it's active */
}

button {
    font-family: Dela;
    background-color: #f1dbbd;
    color: #000;
    border-radius: 50px;
    max-width: fit-content;
    margin: 20px;
    font-size: 15px;
    cursor: pointer;
}

footer {
    background-color: #000;
    margin: 0;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    text-align: left;
}

#made-by {
    text-align: right;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    * {
        padding-inline-start: 0;
    }

    body {
        flex-grow: 1;
    }

    header {
        flex-direction: row;
        font-size: 20px;
        margin: 20px;
    }

    .menu {
        display: none;
        flex-direction: row;
        background-color: #f1dbbd;
        position: absolute;
        top: 45px; /* adjust according to your header height */
        right: 0;
        left: 0;
        text-align: center;
        border-radius: 0 0 15px 15px;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 8px;
        font-size: 17px;
    }

    .menu-toggle {
        display: block;
    }

    header.menu-open {
        border-radius: 15px 15px 0 0;
    }

    .main {
        font-size: 30px;
    }

    .about-me {
        margin-top: 50px;
    }

    #wiggle1, #wiggle2, #wiggle3 {
        display: none;
    }

    #maxwell-pat {
        display: none;
    }
        

    #wiggle1-mobile {
        display: inline;
        margin: 60px 40px 0 40px;
    }

    #wiggle2-mobile {
        display: inline;
        margin: 20px
    }

    .string1, .string2, .string3 {
        flex-direction: column;
        margin: 10px 30px;
    }

    .string1 img, .string2 img, .string3 img {
        margin: 10px auto;
    }

    .text1 {
        flex-direction: column;
    }

    #h6 {
        font-size: 50px;
        margin: 40px 20px;
    }

    .projects {
        margin-top: 50px;
        align-items: center;
    }

    #h1 {
        font-size: 50px;
    }

    .projects h6 {
        font-size: 20px;
    }

    .projects a {
        font-size: 14px;
    }

    .toggle-element {
        width: 90%;
        width: 280px;
        height: 400px;
        padding: 10px;
    }

    button {
        font-size: 12px;
        margin: 10px;
    }

}