body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

h6 {
    font-size: 100px;
    margin: 0;
    line-height: 85%;
}

p {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

img {
    margin: 0;
    max-height: 600px;
    height: auto;
}