#blank {
    display: inline-block;
    height: 100px;
}

.chips {
    flex-direction: column;
    justify-content: center;
}

.nochips {
    display:flex;
    justify-content:baseline;
}

.floor img {
    margin: 20px;
    border-radius: 15px;
    max-width: 400px;
    min-width: 100px;
    height: 240px;
    box-shadow: 4px 4px 4px 4px #232323;
}

.floor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}

.tg {
    background-color: #4BBAFF;
    color: #000;
}

.tg a {
    background-color: #000;
    color: #fff;
}

.ds {
    background-color: #5865F2;
    color: #000;
}

.ds a {
    background-color: #000;
    color: #fff;
}

.gh{
    background-color: black;
    color: white;
}

.gh a {
    background-color: white;
    color: black;
}

.mail {
    background-color: white;
    color: #000;
}

.mail a {
    background-color: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .h1 {
        font-size: 2.5rem;
    }

    .floor img {
        display: none;
    }
}