@font-face {
    font-family: Body;
    src: url(../fonts/Involve-Medium.ttf);
}

@font-face {
    font-family: Navbar;
    src: url(../fonts/FeatureMono-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #232323;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: #000;
    background-color: #f1dbbd;
}

body {
    margin: 0;
    color: #fff;
    background: rgba(35, 35, 35, 1);;
    font-family: Body;
}

header {
    background-color: #f1dbbd;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    color: #000;
    margin: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-60%);
    z-index: 10;
}

.home {
    font-family: Navbar;
    font-size: 35px;
    padding: 0 15px;
    text-align: center;
}

header a {
    color:#000;
    transition: color 0.3s ease;
    text-decoration: none;
}

header a:hover {
    color: #54545a;
    text-decoration: none
}

.info {
    margin: 100px 20px;
}

.floor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.floor img {
    border-radius: 15px;
    margin: 30px;
}

#h6 {
    font-family: Navbar;
    font-size: 300px;
    margin: -300px 0;
    margin-right: 10%;
}

.two img {
    height: min-content;
    width:40%;
}

.three img {
    width: 25%;
    margin-right: 10%;
}

.four img {
    margin-left: 5%;
}

.tap {
    display: none;
    padding: 20px;
    border-radius: 15px;
    width: 800px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400px;
    letter-spacing:-55px;
    text-decoration: none;
    color: #000;
    font-family: Navbar;
    cursor: pointer;
    margin: 30px;
    transition: box-shadow 0.5s ease;
}

.tap:hover {
    box-shadow: 0 0 0 5px #fff;
}

.git {
    background-color: #000;
    color: #fff;
}

.git svg {
    width: 60px;
}

.tg {
    background-color: #27a7e7;
}

.tg svg {
    width: 60px;
}

.ds {
    background-color: #5865F2;
}

.ds svg {
    width: 60px;
}

.vk {
    background-color: #0077FF;
}

.vk svg {
    width: 60px;
}

footer {
    background-color: #000;
    margin: 0;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color:#0077FF
}

footer span {
    font-family: Navbar;
}

#copyright {
    text-align: left;
}

#made-by {
    text-align: right;
}

@media (max-width: 768px) {

    * {
        padding-inline-start: 0;
    }

    body {
        flex-grow: 1;
    }

    header {
        flex-direction: row;
        font-size: 20px;
        margin: 20px;
    }
    
    .info {
        margin-top: 75px;
    }

    .floor {
        justify-content: center;
    }

    .floor img {
        display: none;
    }

    #h6 {
        display: none;
    }

    .tap {
        height: 130px;
        width: 300px;
        font-size: 150px;
        letter-spacing: -28px;
        text-align: center;
        align-items: center;
        margin: 25px;
    }
}