footer {
    background-color: #000;
    margin: 0;
    margin-top: 10vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer img {
    width: 20%;
    margin-bottom: -5px;
    margin-left: 4px;
}

#copyright {
    text-align: left;
}

#footer-link {
    text-align: right;
}

@media (max-width: 768px){
}

@media (hover:hover) {

    footer a:hover {
        color: #f1dbbd;
        text-decoration: none
    }
            
    }

@media (hover:none) {

    footer a:active {
        color: #f1dbbd;
        text-decoration: none
    }
}