footer {
    background-color: #000;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer img {
    width: 20%;
    margin-bottom: -5px;
    margin-left: 4px;
}

#copyright {
    text-align: left;
}

#made-by {
    text-align: right;
}

@media (max-width: 768px){
}

@media (hover:hover) {

    footer a:hover {
        color:#e1ea8f
    }
    
}

@media (hover:none) {

    footer a:active {
        color:#e1ea8f
    }
    
}