loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1dbbd;
    font-family: Navbar;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
}

loading.visible {
    display: flex;
    opacity: 1;
}

loading.hidden {
    animation: slideUp 0.5s ease-in-out forwards;
    pointer-events: none;
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

loading span {
    font-size: 6rem;
    color: #000;
    animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #54545a;
    }
}

loading span:nth-child(1) {
    animation-delay: 0s;
}

loading span:nth-child(2) {
    animation-delay: 0.1s;
}

loading span:nth-child(3) {
    animation-delay: 0.2s;
}

loading span:nth-child(4) {
    animation-delay: 0.3s;
}

loading span:nth-child(5) {
    animation-delay: 0.4s;
}

loading span:nth-child(6) {
    animation-delay: 0.5s;
}

@media (max-width: 768px) {
    loading span {
        font-size: 3rem;
    }
}