@font-face {
    font-family: Navbar;
    src: url(fonts/FeatureMono-Medium.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #232323;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body   {
    background-color: #232323;
    font-family: Geologica;
    color: #fff;
    margin: 0;
    user-select: none;
}

body.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Unbounded";
    text-align: center;
    font-size: 4rem;
}

#chip-main {
    font-family: "Dela Gothic One";
}

.chips {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 4px #232323;
}

.chip p {
    margin: 0px 12px;
    text-align: justify;
    font-size: 2.5rem;
}

.chip a {
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    font-size: 2rem;
    align-items: end;
    transition: box-shadow 0.5s ease;
}

a {
    text-decoration: none;
}

@media (max-width: 768px){
    
    * {
        padding-inline-start: 0;
    }

    body {
        flex-grow: 1;
    }

    .chip {
        width: 70vw;
        height: 150px;
        margin: 10px;
        padding: 15px;
    }

    .chip p {
        font-size: 2rem;
    }

    .chip a {
        font-size: 1.6rem;
        padding: 15px;
    }

}

@media (hover:hover) {

    .chip a:hover {
        box-shadow: 0 0 0 10px #fff;
    }
    
}

@media (hover:none) {

    .chip a:active {
        box-shadow: 0 0 0 10px #fff;
    }

}