@font-face {
    font-family: Navbar;
    src: url(../fonts/FeatureMono-Medium.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #232323;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body   {
    background-color: #232323;
    font-family: "Geologica", sans-serif;
    color: #fff;
    margin: 0;
    user-select: none;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 768px){
    
    * {
        padding-inline-start: 0;
    }

    body {
        flex-grow: 1;
    }

}