@font-face {
    font-family: Navbar;
    src: url(fonts/FeatureMono-Medium.ttf);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1dbbd #232323;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body   {
    background-color: #232323;
    font-family: Geologica;
    color: #fff;
    margin: 0;
    user-select: none;
}

body.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Unbounded";
}

#block-text-main {
    font-family: "Days One";
}

#block-main-secondary {
    font-family: "Dela Gothic One";
}

@media (max-width: 768px){
    
    * {
        padding-inline-start: 0;
    }

    body {
        flex-grow: 1;
    }

}